## Deliverable 2. Create a Customer Travel Destinations Map.

In [5]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [10]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Chillicothe,US,39.3331,-82.9824,50.00,93,1,3.58,clear sky
1,1,Rikitea,PF,-23.1203,-134.9692,79.63,72,62,17.07,broken clouds
2,2,San Rafael Del Sur,NI,11.8485,-86.4384,75.20,88,20,6.91,few clouds
3,3,Zabol,AF,32.2500,67.2500,66.24,22,9,16.98,clear sky
4,4,Avarua,CK,-21.2078,-159.7750,78.80,89,20,5.75,few clouds

In [11]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 72
What is the maximum temperature you would like for your trip? 85

In [13]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Rikitea,PF,-23.1203,-134.9692,79.63,72,62,17.07,broken clouds
2,2,San Rafael Del Sur,NI,11.8485,-86.4384,75.20,88,20,6.91,few clouds
4,4,Avarua,CK,-21.2078,-159.7750,78.80,89,20,5.75,few clouds
18,18,Santa Cruz,BO,-17.8000,-63.1667,78.80,78,75,13.80,broken clouds
23,23,Port Hedland,AU,-20.3167,118.5667,80.60,78,6,5.75,clear sky
26,26,Dingle,PH,10.9995,122.6711,77.32,87,48,7.02,scattered clouds
33,33,Chuy,UY,-33.6971,-53.4616,75.31,70,99,10.09,overcast clouds
38,38,Yulara,AU,-25.2406,130.9889,78.80,36,0,8.05,clear sky
39,39,Sao Joao Da Barra,BR,-21.6403,-41.0511,84.20,61,20,2.30,few clouds
40,40,Matara,LK,5.9485,80.5353,75.34,88,100,6.93,overcast clouds

In [16]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                231
City                   231
Country                228
Lat                    231
Lng                    231
Max Temp               231
Humidity               231
Cloudiness             231
Wind Speed             231
Current Description    231
dtype: int64

In [19]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
preferred_cities_df = preferred_cities_df.dropna()
preferred_cities_df.count()

City_ID                228
City                   228
Country                228
Lat                    228
Lng                    228
Max Temp               228
Humidity               228
Cloudiness             228
Wind Speed             228
Current Description    228
dtype: int64

In [21]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Rikitea,PF,79.63,broken clouds,-23.1203,-134.9692,
2,San Rafael Del Sur,NI,75.20,few clouds,11.8485,-86.4384,
4,Avarua,CK,78.80,few clouds,-21.2078,-159.7750,
18,Santa Cruz,BO,78.80,broken clouds,-17.8000,-63.1667,
23,Port Hedland,AU,80.60,clear sky,-20.3167,118.5667,
26,Dingle,PH,77.32,scattered clouds,10.9995,122.6711,
33,Chuy,UY,75.31,overcast clouds,-33.6971,-53.4616,
38,Yulara,AU,78.80,clear sky,-25.2406,130.9889,
39,Sao Joao Da Barra,BR,84.20,few clouds,-21.6403,-41.0511,
40,Matara,LK,75.34,overcast clouds,5.9485,80.5353,

In [22]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row['Lat']
    lng = row['Lng']
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    params['location'] = f'{lat},{lng}'
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [26]:
# 7. Drop the rows where there is no Hotel Name.
#hotel_df.count()
hotel_df = hotel_df.dropna()
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Rikitea,PF,79.63,broken clouds,-23.1203,-134.9692,Pension Maro'i
2,San Rafael Del Sur,NI,75.20,few clouds,11.8485,-86.4384,Hospedaje El Chino
4,Avarua,CK,78.80,few clouds,-21.2078,-159.7750,Paradise Inn
18,Santa Cruz,BO,78.80,broken clouds,-17.8000,-63.1667,Aviador Hotel Boutique
23,Port Hedland,AU,80.60,clear sky,-20.3167,118.5667,The Esplanade Hotel
...,...,...,...,...,...,...,...
699,Waingapu,ID,80.11,overcast clouds,-9.6567,120.2641,Pondok Wisata Elim
700,Kralendijk,BQ,82.40,scattered clouds,12.1500,-68.2667,Divi Flamingo Beach Resort & Casino
701,Imbituba,BR,73.40,broken clouds,-28.2400,-48.6703,Praia Hotel Imbituba
704,Kantunilkin,MX,80.60,scattered clouds,21.0917,-87.4500,Posada Paraiso
707,Mackay,AU,75.20,scattered clouds,-21.1500,149.2000,International Lodge Motel

In [46]:
# 8a. Create the output File (CSV)
output_data_file = 'Hotels/hotel.csv'

# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [53]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [54]:
# 11a. Add a marker layer for each city to the map. 
locations = hotel_df[["Lat", "Lng"]]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.6)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))